@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Şifremi unttum";
    @model ForgotPasswordViewModel
}
<link rel="shortcut icon" type="image/png" href="~/assets-login/images/logos/favicon.png" />
<link rel="stylesheet" href="~/assets-login/css/styles.min.css" />

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            @if(Model.isUserValide == true)
                            {
                                <h2>Şifre Sıfırlama Talimatları Gönderildi</h2>
                                <p>
                                    Sağladığınız @Model.Email e-posta adresine şifrenizi sıfırlama talimatlarını içeren bir e-posta gönderdik.
                                </p>
                                <p>
                                    Daha fazla talimat için lütfen e-postanızı kontrol edin.
                                </p>
                            }else
                            {
                                <h2>Şifre Sıfırlama Talimatları Gönderilemedi</h2>
                                <p>
                                    Sağladığınız @Model.Email e-posta adresiyle ilişkili bir hesap bulunmamaktadır lütfen e-posta adresinizi kontrol ediniz.
                                </p>
                                <p>
                                    <a asp-action="ForgotPassword">Geri dön</a>
                                </p>
                            }


                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
